<%- include('../include/header')%>

<div class="container">
    <form action="/api/login" method="POST" class="flex-center-colum auth-form">
        <h1 class="flex-center-colum">Login <img src="/assets/icons/user-check.svg" alt="User"></h1>
        
        <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Ingresa tu email..." required>
        </div>

        <div class="input-group">
            <label>Password</label>
            <input type="password" name="password" placeholder="Ingresa tu contraseña..." required>
        </div>

        <a href="/register" class="redirect-link">No tienes una cuenta? Regístrate</a>   
        <button type="submit" name="submit">Submit</button>
    </form>
</div>

<%- include('../include/footer')%>
